@import './colors.css';

body {
    background: var(--bg-primary);
    font-family: 'Roboto', Times, serif;
    margin: 0;
    padding: 0;
}
/* helpers */
.flex {
    display: flex;
}
.login-button {
    width: 100%;
    margin: 20px auto 0;
    padding: 15px 0 !important;
    border: none;
}
/* button style */
.btn {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn.btn-primary {
    color: var(--text-inverted);
    background: var(--primary);
}
.btn.btn-secondary {
    color: var(--text-inverted);
    background: var(--secondary);
}
.btn.btn-primary:hover {
    background: var(--secondary);
    cursor: pointer;
}
.btn.active {
    background: var(--secondary);
}

a:active,
a:hover,
a:visited {
    color: var(--primary);
}

/* header styles */
header.menu {
    background: var(--bg-secondary);
    color: var(--text-inverted);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
header .btn {
    margin: 0 10px;
}
header.welcome {
    text-align: center;
}

/* login box */
.loginBox {
    display: flex;
    justify-content: center center;
}
.loginBox .loginBoxWrapper {
    margin: 0 auto;
    border: 1px solid var(--support);
    display: inline;
    width: 500px;
    padding: 40px;
    background: var(--bg-secondary);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.loginBox .loginBoxWrapper label,
.loginBox .loginBoxWrapper table {
    color: var(--text-inverted);
}
.loginBox .loginBoxWrapper label {
    width: 150px;
    position: relative;
    top: 5px;
}
.loginBox .loginBoxWrapper input {
    width: 100%;
    padding: 10px;
}
.loginBox .loginBoxWrapper article {
    display: inline-flex;
    padding: 10px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
}
.loginBoxWrapper .subSection {
    color: var(--text-inverted);
    margin: 10px auto;
    text-align: center;
}
.subSection a {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

/* framework */
section {
    padding: 20px;
}

/* icons */
.fas {
    padding-left: 5px;
}

.loginBox .loginBoxWrapper article.rodzajSub{

justify-content: start!important;
vertical-align: center;
justify-items: center;
align-items: center;
}

.rodzajSub .one, .rodzajSub .two {
 width: 20px!important;
}
.rodzajSub span {
    color: var(--text-inverted) !important;
}

.tableSection{
    display: flex;
    justify-content: center;
}
.tabela{
display: flex;
flex-direction: row;
}
.tabela th, .tabela td{
padding:12px 24px;

}
.tabela tr{
    list-style: none;
    padding: 12px 24px;
    background: var(--secondary);
    margin-right: 2px;
    text-align: center;
}
.tabela .headers{

    color: var(--text-inverted)!important;
    background: var(--bg-secondary);
}

.dashboard{
    display: flex;
    justify-content: center;
    padding: 20px;
    background: var(--support);
    color: var(--text-inverted);
}
.dashboard ul{
    list-style: none;
}

.dashboard small{
    padding-left: 10px;
    font-weight: 300;
}
.waterMark{
display: flex;
justify-content: center;
font-size: 2rem;
align-content: center;
padding: 3rem 0;
}
.waterMark h1{

opacity: 0.2;

}